scrape_configs:
  - job_name: 'server'

    static_configs:

    # ------------------------------------------------------------
    # Prometheus
    # ------------------------------------------------------------

{% for item in groups['node_exporter'] %}
{{ hostvars[item]['ansible_host'] }}
{% endfor %}

    # Prometheus
    - targets:
      - '127.0.0.1:9100'
      labels:
        service: prometheus-server
        country: china
        region: ''
        zone: ''
    