scrape_configs:
  - job_name: 'server'

    static_configs:

    # ------------------------------------------------------------
    # Prometheus
    # ------------------------------------------------------------

{% for item in groups['node_exporter'] %}
    # Prometheus
    - targets:
      - '{{ hostvars[item]['ansible_host'] }}:9100'
      labels:
        service: prometheus-server
        country: china
        region: ''
        zone: ''

{% endfor %}
